<mtapp:setting
    id="analytics_username"
    label="<__trans phrase="Google Analytics Username">"
    hint=""
    show_hint="0">
    <input type="text" name="analytics_username" id="analytics_username" value="<mt:var name="analytics_username" escape="html">" />
</mtapp:setting>
<mtapp:setting
    id="analytics_password"
    label="<__trans phrase="Google Analytics Password">"
    hint=""
    show_hint="0">
    <input type="password" name="analytics_password" id="analytics_password" value="<mt:var name="analytics_password" escape="html">" />
</mtapp:setting>
<mtapp:setting
    id="analytics_profile_id"
    label="<__trans phrase="Google Analytics Profile ID">"
    hint=""
    show_hint="0">
    <input type="text" name="analytics_profile_id" id="analytics_profile_id" value="<mt:var name="analytics_profile_id" escape="html">" />
</mtapp:setting>
